# *

# !.gitignore
# !src/
# !*.cpp
# !*.c
# !*.rs
# !*.sh

# !quiz
# !pdfs/
# !pdfs/*
# !README.md
# !extract_and_generate_readme.py

# test.cpp

*
!*.*
!*/

.vscode
*_unfinished

page.html
test.*
*.out
data/
trash/

.DS_Store